@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root{
  --color-primary:#F84565;
  --color-primary-dull: #D63854;
}

*{
  font-family: "outfit", sans-serif;
}

body{
  color:white;
  background-color:#09090B;
}